@font-face {
  font-family: gilroybold;
  src: url(../fonts/gilroy-bold-webfont.woff2) format("woff2"),url(../fonts/gilroy-bold-webfont.woff) format("woff");
  font-weight: 600;
  font-style: normal
}
@font-face {
  font-family: gilroymedium;
  src: url(../fonts/gilroy-medium-webfont.woff2) format("woff2"),url(../fonts/gilroy-medium-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: gilroyregular;
  src: url(../fonts/gilroy-regular-webfont.woff2) format("woff2"),url(../fonts/gilroy-regular-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
h1 {
  letter-spacing: -.04em
}
h1 * {
  letter-spacing: initial
}
:root {
  font-size: 62.5%
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  font-weight: 400
}
h2 {
  font-size: 36px;
  line-height: 42px
}
h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 600
}
h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 600
}
ul {
  padding: 0;
  margin: 0
}
ul li {
  list-style: none
}
img {
  width: 100%;
  max-width: 100%;
  height: auto
}
a {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  text-decoration: none;
  color: #fff
}
a:hover {
  text-decoration: none
}
button {
  cursor: pointer;
  outline: 0!important;
  border: none;
  background: 0 0
}
circle,
path,
svg {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s
}
input {
  outline: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none
}
input:focus {
  outline: 0
}
input::-webkit-input-placeholder {
  color: #c4c4c4;
  font-size: 16px;
  line-height: 19px
}
input::-moz-placeholder {
  color: #c4c4c4;
  font-size: 16px;
  line-height: 19px
}
input:-ms-input-placeholder {
  color: #c4c4c4;
  font-size: 16px;
  line-height: 19px
}
input::-ms-input-placeholder {
  color: #c4c4c4;
  font-size: 16px;
  line-height: 19px
}
input::placeholder {
  color: #c4c4c4;
  font-size: 16px;
  line-height: 19px
}
img {
  width: auto;
  max-width: 100%;
  height: auto
}
body,
html {
  max-width: 100%;
  overflow-x: hidden
}
body {
  font-size: 16px;
  font-family: gilroyregular,sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400
}
.outer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.container {
  margin: 0 auto
}
@media (min-width:1200px) {
  .container {
    max-width: 1400px;
    width: 95%;
    padding-right: 15px;
    padding-left: 15px
  }
}
@media (max-width:767px) {
  .container {
    padding-right: 20px;
    padding-left: 20px
  }
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}
body {
  margin: 0
}
main {
  display: block
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible
}
pre {
  font-family: monospace,monospace;
  font-size: 1em
}
a {
  background-color: transparent
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}
b,
strong {
  font-weight: bolder
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
img {
  border-style: none
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}
button,
input {
  overflow: visible
}
button,
select {
  text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}
fieldset {
  padding: .35em .75em .625em
}
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}
progress {
  vertical-align: baseline
}
textarea {
  overflow: auto
}
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
details {
  display: block
}
summary {
  display: list-item
}
template {
  display: none
}
[hidden] {
  display: none
}
.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.a-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.j-beetween {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.header-page {
  margin-bottom: 2rem
}
.header-page__inner {
  background: #0f2e53;
  padding: 15px 0;
  margin-bottom: 24px
}
.header-page__bottom .site-logo {
  display: inline-block
}
.header-page__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.header-page__item:first-child {
  margin-right: 5rem
}
.header-page__item svg {
  margin-right: 1rem
}
.header-page__item .header-page__phone-number {
  display: block;
  font-family: gilroybold;
  font-size: 18px;
  line-height: 22px
}
.header-page__item .header-page__pochta {
  font-size: 16px;
  line-height: 19px
}
.header-page__item span {
  font-size: 16px;
  line-height: 19px;
  color: #fff
}
.header-page__search {
  width: 100%
}
.header-page__search .header-page__input {
  width: inherit;
  background: #fff;
  border: 1px solid #c4c4c4;
  -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.05);
  box-shadow: 0 4px 4px rgba(0,0,0,.05);
  border-radius: 10px;
  padding: 13px 20px;
  height: 5rem;
  position: relative;
  background-image: url(../images/icons/search.svg);
  background-position: center right 20px;
  background-repeat: no-repeat
}
.header-page__search .header-page__input::-webkit-input-placeholder {
  color: #c4c4c4;
  font-size: 14px;
  line-height: 17px
}
.header-page__search .header-page__input::-moz-placeholder {
  color: #c4c4c4;
  font-size: 14px;
  line-height: 17px
}
.header-page__search .header-page__input:-ms-input-placeholder {
  color: #c4c4c4;
  font-size: 14px;
  line-height: 17px
}
.header-page__search .header-page__input::-ms-input-placeholder {
  color: #c4c4c4;
  font-size: 14px;
  line-height: 17px
}
.header-page__search .header-page__input::placeholder {
  color: #c4c4c4;
  font-size: 14px;
  line-height: 17px
}
.navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.navbar-list .navbar-list__item:not(:last-child) {
  margin-right: 35px
}
.navbar-list .navbar-list__item a {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000;
  white-space: nowrap;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.navbar-list .navbar-list__item a:hover {
  color: #206bb0
}
.navbar-list.navbar-list__item.active {
  color: #206bb0
}
.hero-slide .splide__pagination .splide__pagination__page {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0 1px #fff;
  box-shadow: inset 0 0 0 1px #fff
}
.hero-slide .splide__pagination .splide__pagination__page.is-active {
  background-color: #e2ce19;
  -webkit-box-shadow: inset 0 0 0 1px #e2ce19;
  box-shadow: inset 0 0 0 1px #e2ce19
}
.footer-page {
  background: #0f2e53
}
.footer-page__top {
  padding-top: 140px;
  padding-bottom: 50px
}
.footer-page__bottom {
  background: #153963;
  padding: 16px 0
}
.footer-page__bottom span {
  font-size: 16px;
  line-height: 19px;
  color: #648dbd;
  display: block;
  margin: auto;
  text-align: center
}
.footer-page__info .info-title {
  color: #e2ce19;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 25px
}
.info-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.info-list__item svg {
  color: #e2ce19
}
.info-list__item:not(:last-child) {
  margin-bottom: 3rem
}
.info-list__item svg {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 1rem
}
.info-list__item a {
  font-size: 16px;
  line-height: 19px
}
.info-list__item .text-bold {
  font-family: gilroybold
}
.info-list__item .info-list__item-call a {
  display: block
}
.info-list__item .info-list__item-call a:first-child {
  margin-bottom: 2rem
}
.info-list__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}
.footer-page__content .navbar-list__item:not(:last-child) {
  margin-right: 30px
}
.footer-page__content .navbar-list__item a {
  color: #fff;
  letter-spacing: -.9px
}
.footer-page__follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 47px
}
.footer-page__follow-item .title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 1rem
}
.footer-page__follow-item .title span {
  color: #e2ce19
}
.footer-page__follow-item .description {
  font-size: 16px;
  line-height: 19px;
  color: #fff
}
.footer-page__follow-item .follow-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 3rem;
  min-height: 5rem;
  width: 100%
}
.footer-page__follow-item .follow-input input {
  background: #fff;
  border-radius: 10px 0 0 10px;
  padding: 16px;
  width: 100%;
  min-height: inherit
}
.footer-page__follow-item .follow-input button {
  background: #206bb0;
  border-radius: 0 10px 10px 0;
  min-height: inherit;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  padding: 0 5rem;
  color: #fff
}
.social-list .social-list__item:not(:last-child) {
  margin-bottom: 2rem
}
.social-list .social-list__item .social-list__icon {
  width: 32px;
  height: 32px;
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.social-list .social-list__item .social-list__icon img {
  max-width: 100%;
  max-height: 100%
}
.footer-page__articles {
  background: #f3f3f3;
  position: relative;
  padding: 5rem 0 143px 0
}
.footer-page__articles .container {
  position: relative;
  z-index: 10
}
.footer-page__articles .container .title {
  font-weight: 600
}
.footer-page__articles::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: url(../images/img/factory-img.png) bottom left no-repeat;
  width: 100%;
  height: 100%;
  z-index: 1
}
.articles-item {
  background: #fff;
  -webkit-box-shadow: inset 0 0 0 1px #cfd8dc;
  box-shadow: inset 0 0 0 1px #cfd8dc;
  border-radius: 10px;
  padding: 1rem;
  height: 100%
}
.articles-item .articles-item__left {
  margin-right: 2rem;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 150px;
  height: 143px
}
.articles-item .articles-item__left img {
  max-width: 100%;
  min-height: 100%
}
.articles-item .articles-item__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.articles-item .articles-item__right .articles-item__date {
  color: #888;
  margin-bottom: 1rem
}
.articles-item .articles-item__right .articles-item__text {
  line-height: 26px;
  max-width: 44rem
}
.footer-page__certificates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 100%;
  margin-top: 7rem;
  -webkit-transform: translate(-50%,-10%);
  -ms-transform: translate(-50%,-10%);
  transform: translate(-50%,-10%);
  left: 50%
}
.footer-page__certificates .title {
  font-size: 24px;
  line-height: 28px
}
.footer-page__certificates .certificates-left {
  background-color: #fff;
  padding: 24px 28px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.footer-page__certificates .certificates-left .title {
  margin-right: 42px
}
.footer-page__certificates .certificates-left .certificates-left__item {
  width: 98px;
  height: 102px;
  background: #c4c4c4;
  border-radius: 5px
}
.footer-page__certificates .certificates-left .certificates-left__item:not(:last-child) {
  margin-right: 33px
}
.footer-page__certificates .certificates-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 8px 20px;
  background: #206bb0;
  border-radius: 10px;
  color: #fff
}
.footer-page__certificates .certificates-right .title {
  max-width: 166px;
  margin-right: 16px
}
.footer-page__certificates .certificates-right .certificates-right__doc {
  width: 134px;
  height: 134px;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.footer-page__certificates .certificates-right .certificates-right__doc img {
  max-width: 100%;
  min-height: 100%
}
.section-page.blue-page {
  padding: 62px 0;
  background: url(../images/img/blue-page.jpg),-o-linear-gradient(185.51deg,#235481 0,#0f2e53 99.52%);
  background: url(../images/img/blue-page.jpg),linear-gradient(264.49deg,#235481 0,#0f2e53 99.52%);
  border-radius: 0;
  width: 100%;
  height: 60rem;
  background-position: center center;
  background-size: cover;
  color: #fff;
  margin-bottom: 5rem
}
.blue-page__heading {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 65px
}
.blue-page__heading .title {
  font-weight: 600;
  margin-bottom: 1rem;
  position: relative;
  max-width: 371px;
  margin: 0 auto
}
.blue-page__heading .title::before {
  content: "";
  position: absolute;
  width: 90px;
  background-color: #fff;
  height: 1px;
  left: -50%;
  top: 50%
}
.blue-page__heading .title::after {
  content: "";
  position: absolute;
  width: 90px;
  background-color: #fff;
  height: 1px;
  right: -50%;
  top: 50%
}
.plus-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center
}
.plus-item:first-child {
  margin-bottom: 5rem
}
.plus-item .plus-icon {
  background: #fff;
  width: 8rem;
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 2rem
}
.plus-item .text {
  font-size: 18px;
  line-height: 21px
}
.services-slide {
  color: #000;
  margin-bottom: 5rem
}
.services-slide .splide__slide:not(:last-child) {
  margin-right: 2rem
}
.services-slide .splide__arrow {
  background-color: transparent;
  height: 6rem;
  width: 6rem
}
.services-slide .splide__arrow:disabled svg {
  fill: #fff
}
.services-slide .splide__arrow svg {
  fill: #e2ce19;
  height: 4rem;
  width: 4rem
}
.services-slide .splide__arrow--prev {
  left: 25rem;
  top: 80%
}
.services-slide .splide__arrow--next {
  left: 35rem;
  top: 80%
}
.services-slide__left {
  background: #206bb0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 100%;
  padding: 5rem 5rem 5rem 9rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.services-slide__left .services-slide__item {
  width: 100%;
  margin: 0 auto;
  text-align: left
}
.services-slide__left .services-slide__item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}
.services-slide__left .services-slide__item:first-child span {
  margin-right: auto
}
.services-slide__left .services-slide__item:nth-child(2) span {
  max-width: 211px;
  display: block;
  margin-left: 2rem
}
.services-slide__right img {
  width: 100%
}
.section-page.our-works {
  background: #f6fcff;
  margin-bottom: 0
}
.section-page.our-works .container {
  border-bottom: 1px solid #e5f0f5;
  padding-bottom: 5rem
}
.section-page.our-works_company-page {
  background-color: #fff
}
.our-works__item img {
  margin-bottom: 2rem
}
.our-works__item .title {
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
  min-height: 56px
}
.our-works__item .description {
  color: #888
}
.our-works__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 220px
}
.section-page.list-block {
  padding-bottom: 118px;
  background: #f6fcff;
  padding-top: 5rem
}
.list-block__item {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 10px;
  padding: 42px 42px 42px 90px;
  margin: 0 auto;
  width: 86%;
  position: relative;
  height: 100%;
  -webkit-transition: background .2s ease;
  -o-transition: background .2s ease;
  transition: background .2s ease
}
.list-block__item::after {
  content: '';
  background: url(../images/img/quiz-list.png) 0 0 no-repeat;
  border-radius: 10px;
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease
}
.list-block__item:hover {
  cursor: pointer
}
.list-block__item:hover::after {
  opacity: 1
}
.list-block__item:hover .title {
  color: #fff;
  z-index: 10;
  font-weight: 600;
  position: relative
}
.list-block__item:hover .list-block__item-content .text {
  color: #e2ce19;
  z-index: 10;
  font-weight: 600;
  position: relative
}
.list-block__item:hover .list-block__item-content svg {
  color: #fff;
  z-index: 10;
  position: relative
}
.list-block__item .title {
  margin-bottom: 1rem;
  max-width: 30rem
}
.list-block__item .list-block__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.list-block__item .list-block__item-content .text {
  color: #206bb0;
  margin-right: 1rem
}
.list-block__item .list-block__item-content svg {
  color: #206bb0
}
.list-block__item .list-block__item-icon {
  position: absolute;
  background: #fff;
  -webkit-box-shadow: 0 5px 5px rgba(0,0,0,.1);
  box-shadow: 0 5px 5px rgba(0,0,0,.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 119px;
  height: 119px;
  border-radius: 50%;
  left: -60px;
  top: 10%;
  z-index: 2
}
.section-page.contact-page {
  margin-bottom: 0
}
.section-page.section-map {
  margin-bottom: 0
}
.contact-page__inner {
  padding-top: 90px
}
@media (max-width:991px) {
  .contact-page__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
}
.contact-page__left {
  background: #2275c2;
  border-top-left-radius: 10px;
  background-image: url(../images/img/background-call.png);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
  min-height: 385px;
  padding: 23px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.contact-page__left::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -8rem;
  background-image: url(../images/img/call-center.png);
  background-position: top;
  background-repeat: no-repeat;
  height: 490px;
  width: 283px
}
@media (max-width:991px) {
  .contact-page__left::after {
    height: 100%
  }
}
.contact-page__left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 375px;
  width: 100%
}
.contact-page__left-content .title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #fff;
  text-align: left;
  width: 100%
}
.contact-page__left-content .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 20px auto 30px;
  color: #fff
}
.contact-page__left-content .info-list__item svg {
  color: #fff;
  margin-right: 2rem
}
.contact-page__right {
  background: #f6f9fe;
  padding: 34px 20px 34px 110px
}
@media (max-width:991px) {
  .contact-page__right {
    padding: 20px
  }
}
.contact-page__right .title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 44px
}
@media (max-width:991px) {
  .contact-page__right .title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 2rem;
    text-align: center
  }
}
.form-wrap__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px
}
@media (max-width:991px) {
  .form-wrap__row {
    margin-bottom: 1rem
  }
}
.form-wrap__row .form-wrap__field {
  border: 1px solid #c4c4c4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 15px 20px;
  line-height: 20px
}
@media (min-width:1681px) {
  .form-wrap__row .form-wrap__field {
    width: 100%
  }
}
.form-wrap__row .form-wrap__field input {
  background-color: transparent
}
.form-wrap__row .form-wrap__field::-webkit-input-placeholder {
  color: #c4c4c4;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px
}
.form-wrap__row .form-wrap__field::-moz-placeholder {
  color: #c4c4c4;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px
}
.form-wrap__row .form-wrap__field:-ms-input-placeholder {
  color: #c4c4c4;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px
}
.form-wrap__row .form-wrap__field::-ms-input-placeholder {
  color: #c4c4c4;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px
}
.form-wrap__row .form-wrap__field::placeholder {
  color: #c4c4c4;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px
}
.form-wrap__row .form-wrap__field:not(:last-child) {
  margin-right: 30px
}
@media (min-width:1681px) {
  .form-wrap__row .form-wrap__field:not(:last-child) {
    margin-right: 0
  }
}
@media (max-width:991px) {
  .form-wrap__row .form-wrap__field:not(:last-child) {
    margin-bottom: 1rem
  }
}
@media (max-width:1600px) {
  .form-wrap__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
  .form-wrap__field:not(:last-child) {
    margin-bottom: 20px
  }
}
.form-wrap__textarea {
  width: 100%;
  max-width: 74.5rem
}
@media (max-width:991px) {
  .form-wrap__textarea {
    max-width: 100%
  }
}
.form-wrap__textarea textarea {
  width: 100%;
  border: 1px solid #c4c4c4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 15px 20px;
  height: 100px
}
.form-wrap__checkboxes {
  margin-bottom: 30px
}
@media (max-width:991px) {
  .form-wrap__checkboxes {
    margin-bottom: 2rem
  }
}
.form-wrap__checkboxes .form-wrap__checkbox-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.form-wrap__checkboxes input {
  display: none
}
.form-wrap__checkboxes .form-wrap__checkbox-mask {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #1b2e58;
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.form-wrap__checkboxes .form-wrap__checkbox-mask::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background: #1b2e58;
  opacity: 0;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s
}
.form-wrap__checkboxes .form-wrap__checkbox-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-left: 1rem
}
.form-wrap__checkboxes input:checked + .form-wrap__checkbox-mask::before {
  opacity: 1
}
.global-btn {
  background: #2275c2;
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  min-height: 50px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: 1px solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.global-btn:hover {
  color: #1b2e58;
  border-color: #1b2e58;
  background-color: #fff
}
.section-page {
  margin-bottom: 5rem
}
.section-page.tech-list {
  margin-bottom: 23px
}
.section-page.garant-info {
  padding: 5rem 0
}
.tech-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.tech-list__item img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-bottom: 1rem
}
.tech-list__item span {
  text-align: center;
  display: block
}
.hero-slide .splide__slide:nth-child(1) {
  background-image: url(../images/img/hero-1.jpg)
}
.hero-slide .splide__slide:nth-child(2) {
  background-image: url(../images/img/hero-2.jpg)
}
.hero-slide .splide__slide:nth-child(3) {
  background-image: url(../images/img/hero-4.jpg)
}
.hero-slide .splide__slide {
  background-attachment: fixed;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 70rem
}
.hero-slide .splide__slide .container {
  height: 100%
}
.hero-slide .splide__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: inherit;
  margin-left: 72px;
  color: #fff
}
.hero-slide .splide__info .title {
  font-size: 36px;
  line-height: 42px;
  max-width: 460px;
  font-weight: 600;
  margin-bottom: 4rem;
  position: relative
}
.hero-slide .splide__info .title::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 1px;
  background-color: #e2ce19;
  left: 0;
  bottom: -20px
}
.hero-slide .splide__info .description {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 5rem
}
.hero-slide .splide__arrows .splide__arrow {
  background-color: transparent
}
.hero-slide .splide__arrows .splide__arrow svg {
  fill: #e2ce19;
  width: 2rem;
  height: 2rem
}
.hero-slide .splide__arrows .splide__arrow--prev {
  left: 8%
}
.hero-slide .splide__arrows .splide__arrow--next {
  right: 8%
}
.btn {
  background: #206bb0;
  border-radius: 10px;
  height: 5rem;
  text-transform: uppercase;
  min-width: 209px;
  max-width: 209px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s
}
.btn:hover {
  cursor: pointer;
  background-color: #fff;
  color: #000;
  -webkit-box-shadow: inset 0 0 0 1px #206bb0;
  box-shadow: inset 0 0 0 1px #206bb0
}
.btn.btn_white {
  -webkit-box-shadow: inset 0 0 0 1px #206bb0;
  box-shadow: inset 0 0 0 1px #206bb0;
  background-color: transparent;
  color: #206bb0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s
}
.btn.btn_white:hover {
  cursor: pointer;
  background: #206bb0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff
}
.btn.btn_yellow {
  background: #e2ce19;
  color: #000
}
.btn.btn_grey {
  background: #8e8e8e
}
.btn.btn_green {
  background: #82ba3b
}
.garant-info__content .title {
  font-size: 36px;
  line-height: 42px;
  color: #000;
  font-weight: 600;
  max-width: 685px;
  margin-bottom: 67px;
  position: relative
}
.garant-info__content .title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -17px;
  width: 50%;
  height: 1px;
  background-color: #e2ce19
}
.content-list .content-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.content-list .content-list__item:not(:last-child) {
  margin-bottom: 3rem
}
.content-list .content-list__item img {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 4rem
}
.content-list .content-list__item span {
  line-height: 26px;
  color: #000
}
.section-page.news-page {
  padding-bottom: 117px;
  margin-bottom: 0
}
.news-page .splide__arrows {
  display: none
}
.news-page .splide__pagination {
  counter-reset: pagination-num;
  top: 100%;
  margin-top: 5rem
}
.news-page .splide__pagination li {
  font-size: 16px;
  line-height: 19px;
  margin-right: 2rem
}
.news-page .splide__pagination li .splide__pagination__page:not(.is-active) {
  background-color: transparent
}
.news-page .splide__pagination li .splide__pagination__page.is-active {
  background: #206bb0;
  border-radius: 5px;
  width: 3rem;
  height: 3rem;
  color: #fff;
  margin: 0
}
.news-page .splide__pagination__page:before {
  counter-increment: pagination-num;
  content: counter(pagination-num)
}
.youtube-chanel {
  margin-top: 5rem;
  margin-bottom: 2rem
}
.youtube-chanel .title {
  font-weight: 600;
  margin: 0 auto;
  text-align: center
}
.youtube-block {
  background: url(../images/img/background-youtube.jpg) center center no-repeat;
  margin-bottom: 5rem;
  min-height: 166px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 1rem
}
.youtube-block a {
  color: #fff;
  display: block;
  margin-top: 1rem;
  text-decoration: underline
}
.about-us {
  margin-top: 3rem
}
.about-us h3.title {
  color: #222b6c
}
.about-us p {
  font-size: 16px;
  line-height: 36px;
  margin-bottom: 3rem;
  margin-top: 1rem
}
.specialist__item {
  border: 1px solid #0f2e53;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  position: relative;
  height: 100%
}
.specialist__item::before {
  content: "";
  position: absolute;
  width: 309px;
  height: 309px;
  background: #206bb0;
  border-radius: 50%;
  z-index: -1;
  top: 5rem
}
.specialist__item .specialist__item-content {
  background: #0f2e53;
  border-radius: 10px;
  padding: 1rem;
  color: #fff;
  position: absolute;
  bottom: 0
}
.specialist__item .specialist__item-content .title {
  margin-bottom: 1rem
}
.request-page__inner {
  background: url(../images/img/hero-4.jpg) center center no-repeat;
  height: 30rem;
  width: 100%;
  border-radius: 10px;
  padding: 45px 90px
}
.request-page__inner .request-page__heading {
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 2rem;
  max-width: 57rem;
  color: #fff
}
.request-page__inner .request-page__form .request-page__field input {
  background: #fff;
  width: 100%;
  max-width: 328px;
  padding: 21px 12px;
  margin-bottom: 2rem
}
.request-page__inner .request-page__form .request-page__field input::-webkit-input-placeholder {
  text-align: center
}
.request-page__inner .request-page__form .request-page__field input::-moz-placeholder {
  text-align: center
}
.request-page__inner .request-page__form .request-page__field input:-ms-input-placeholder {
  text-align: center
}
.request-page__inner .request-page__form .request-page__field input::-ms-input-placeholder {
  text-align: center
}
.request-page__inner .request-page__form .request-page__field input::placeholder {
  text-align: center
}
.request-page__inner .request-page__form .request-page__field .btn {
  border-radius: 0;
  width: 100%;
  max-width: 328px;
  color: #fff;
  height: 60px
}
.request-page__inner .request-page__form .request-page__field .btn:hover {
  -webkit-box-shadow: inset 0 0 0 1px #206bb0;
  box-shadow: inset 0 0 0 1px #206bb0;
  background-color: #fff;
  color: #000
}
.catalog-list .tech-list__item {
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  padding: 34px;
  min-height: 30rem;
  margin-bottom: 2rem
}
.catalog-list span {
  font-size: 24px;
  line-height: 28px;
  display: block;
  text-align: center
}
.catalog-tab__heading .title {
  color: #222b6c
}
.catalog-tab__list .catalog-tab__item:not(:last-child) {
  margin-bottom: 2rem
}
.catalog-tab__list a {
  font-size: 24px;
  line-height: 28px;
  color: #000;
  font-weight: 600
}
.catalog-tab__item.active .sub-list {
  height: auto;
  opacity: 1;
  display: block;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.sub-list {
  display: none;
  opacity: 0;
  margin-top: 2rem;
  padding-left: 2rem;
  list-style-type: disc
}
.sub-list .sub-list__item a {
  font-size: 16px;
  line-height: 26px;
  color: #206bb0
}
.catalog-tab .tab-content {
  height: 100%;
  width: 100%
}
.catalog-tab .tab-content .tab-pane.active {
  background: #efefef;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%
}
.catalog-tab .tab-content .tab-pane__left {
  background-color: #c4c4c4;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 2rem;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%
}
.catalog-tab .tab-content .tab-pane__right {
  background-color: #efefef;
  padding: 45px 40px;
  border-radius: 10px;
  width: 50%;
  height: inherit
}
.catalog-tab .tab-content .tab-pane__right .tab-pane__right-item span,
.catalog-tab .tab-content .tab-pane__right .tab-pane__right-item strong {
  display: block
}
.catalog-tab .tab-content .tab-pane__right .tab-pane__right-item:first-child {
  margin-bottom: 3rem
}
.catalog-tab__info .catalog-tab__heading {
  margin: 0 auto;
  margin-bottom: 2rem;
  text-align: center
}
.catalog-tab__info .catalog-tab__info-content {
  -webkit-box-shadow: inset 0 0 0 1px #c4c4c4;
  box-shadow: inset 0 0 0 1px #c4c4c4;
  padding: 3rem;
  text-align: center
}
.catalog-tab__info .catalog-tab__info-content .catalog-tab__info-name {
  font-weight: 600;
  margin-bottom: 5px
}
.catalog-tab__info .catalog-tab__info-content .catalog-tab__info-model {
  margin-bottom: 2rem
}
.scale-slide__inner .splide__list {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.scale-slide__inner .splide__slide:not(.is-active) {
  -webkit-transform: scale(.9);
  -ms-transform: scale(.9);
  transform: scale(.9);
  background: #eee
}
.scale-slide__inner .splide__slide.is-active {
  background: #c4c4c4;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  position: relative;
  z-index: 100;
  border-radius: 10px;
  max-width: 447px;
  width: 100%;
  height: 220px
}
.scale-slide__inner .splide__slide.is-next,
.scale-slide__inner .splide__slide.is-prev {
  background: #ddd;
  z-index: 90;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1)
}
.scale-slide__inner .splide__slide {
  border-radius: 10px;
  width: 328px;
  height: 200px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  background: #eee;
  margin: 0
}
.scale-slide__inner .splide__arrows,
.scale-slide__inner .splide__pagination {
  display: none
}
.catalog-info__img {
  height: 35rem
}
.catalog-info__img img {
  max-width: 100%;
  min-height: 100%;
  border-radius: 10px;
  display: block
}
.catalog-info__content-head {
  margin-bottom: 5rem
}
.catalog-info__content-head .catalog-info__item {
  margin-top: 2rem
}
.catalog-info__content-head .catalog-info__item .title_red {
  color: #e23529
}
.catalog-info__content-body .catalog-info__item {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start
}
.catalog-info__content-body .catalog-info__item:not(:last-child) {
  margin-bottom: 2rem
}
.catalog-info__content-body .catalog-info__item .btn:first-child {
  margin-right: 3rem
}
.catalog-info__content-body .catalog-info__item .title_red {
  color: #e23529
}
.catalog-info__content-body .catalog-info__item .btn_green {
  max-width: 447px;
  width: 100%;
  color: #fff
}
.catalog-info__content-body .catalog-info__item .btn_green svg {
  margin-right: 1rem
}
.catalog-info__content-body .catalog-info__item .catalog-info__item-counter {
  background: #fff;
  border: 1px solid #8e8e8e;
  border-radius: 10px;
  margin-left: 5rem;
  padding: 7px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-width: 209px
}
.catalog-info__content-body .catalog-info__item .catalog-info__item-counter span {
  background: #ececec;
  border-radius: 10px;
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.catalog-info__item,
.catalog-info__item-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.catalog-info__item {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.catalog-info__item-child svg {
  margin-right: 1rem;
  -ms-flex-negative: 0;
  flex-shrink: 0
}
.catalog-info__item-child span {
  color: #8e8e8e;
  font-size: 12px;
  line-height: 14px
}
.catalog-tab-child .catalog-tab__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  max-width: 804px;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 1px solid #c4c4c4
}
.catalog-tab-child .catalog-tab__list .catalog-tab__item {
  position: relative
}
.catalog-tab-child .catalog-tab__list .catalog-tab__item::after {
  content: "";
  position: absolute;
  bottom: -22px;
  left: 0;
  width: 100%;
  background-color: transparent;
  height: 3px;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear
}
.catalog-tab-child .catalog-tab__list .catalog-tab__item:not(:last-child) {
  margin-bottom: 0
}
.catalog-tab-child .catalog-tab__list .catalog-tab__item a {
  color: #aeaeae
}
.catalog-tab-child .catalog-tab__list .catalog-tab__item.active::after {
  background-color: #222b6c
}
.catalog-tab-child .catalog-tab__list .catalog-tab__item.active a {
  color: #222b6c
}
.certificats-page .swiper-slide {
  background: #c4c4c4;
  border-radius: 10px;
  width: 328px;
  height: 40rem;
  margin-right: 3rem
}
.certificats-page .swiper-wrapper__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 3rem
}
.certificats-page .swiper-wrapper__arrows .swiper-button-next,
.certificats-page .swiper-wrapper__arrows .swiper-button-prev {
  position: unset;
  margin-top: 0;
  color: #113cfc
}
.certificats-page .swiper-wrapper__arrows .swiper-button-prev {
  margin-right: 4rem
}
.certificats-page .swiper-wrapper__arrows .swiper-button-disabled {
  color: #222b6c
}
.complate-page .complate-page__item {
  color: #000;
  display: block
}
.complate-page .complate-page__item span {
  text-align: center;
  text-transform: uppercase;
  display: block;
  margin-top: 2rem
}
.complate-page-child .title {
  color: #222b6c
}
.complate-page-child span {
  font-size: 14px;
  line-height: 16px
}
.complate-page-child span.active {
  color: #222b6c
}
.vertical-slide .vertical-slide__left .title {
  max-width: 330px;
  margin-bottom: 1rem
}
.vertical-slide .vertical-slide__left .vertical-slide__left-content span {
  color: #888;
  margin-bottom: 1rem;
  display: block
}
.vertical-slide .vertical-slide__left .vertical-slide__left-content p {
  line-height: 26px
}
.vertical-slide .vertical-slide__right {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: inherit
}
.vertical-slide .vertical-slide__right img {
  max-width: 100%;
  max-height: 100%
}
.vertical-slide .splide__arrows .splide__arrow {
  left: auto;
  right: -7rem;
  top: 0;
  -webkit-transform: unset;
  -ms-transform: unset;
  transform: unset;
  background-color: transparent
}
.vertical-slide .splide__arrows .splide__arrow svg {
  width: 3rem;
  height: 3rem;
  fill: #222b6c
}
.vertical-slide .splide__arrows .splide__arrow--next {
  top: auto;
  bottom: 0
}
.vertical-slide .splide__pagination {
  display: none
}
/*# sourceMappingURL=app/css/main.css.map */
