.section-page.blue-page {
    padding: 62px 0;
    background: url(../images/img/blue-page.jpg), linear-gradient(264.49deg, #235481 0%, #0F2E53 99.52%);
    border-radius: 0px;
    width: 100%;
    min-height: 60rem;
    background-position: center center;
    background-size: cover;
    color: #fff;
    margin-bottom: 5rem;

    @include respond(tabdesk) {
        height: auto;
        padding: 20px 0 0px;
        margin-bottom: 2rem;
    }
}

.blue-page__heading {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 65px;

    @include respond(tabdesk) {
      margin-bottom: 3rem;
    }

    & .title {
        font-weight: 600;
        position: relative;
        max-width: 371px;
        margin: 0 auto 1rem;

        &::before {
            content: "";
            position: absolute;
            width: 90px;
            background-color: #FFFFFF;
            height: 1px;
            left: -50%;
            top: 50%;

            @include respond(mobilemini) {
              display: none;
            }
        }
        &::after {
            content: "";
            position: absolute;
            width: 90px;
            background-color: #FFFFFF;
            height: 1px;
            right: -50%;
            top: 50%;

            @include respond(mobilemini) {
                display: none;
              }
        }
    }
}

.blue-page__content {

    & .row {
        &:not(:last-child) {
            & .plus-item {
                margin-bottom: 5rem;

                @include respond(tabdesk) {
                //   margin-bottom: 0;
                }
            }
        }

        & .plus-item {
            @include respond(tabdesk) {
              margin-bottom: 5rem;
            }
        }
    }
}

.plus-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include respond(mobilemini) {
      width: 100%;
    }

    &:first-child {
        // margin-bottom: 5rem;

        @include respond(mobilemini) {
          margin-bottom: 0;
        }
    }

    & .plus-icon {
        background: #FFFFFF;
        width: 8rem;
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-bottom: 2rem;
    }

    & .text {
        font-size: 18px;
        line-height: 21px;
        // max-width: 220px;

        @include respond(mobilemini) {
            font-size: 14px;
            line-height: 16px;
        }
    }
}