// tech-list
.section-page {
  margin-bottom: 5rem;

  @include respond(mobilemini) {
    margin-bottom: 3rem;
  }
}

.section-page__top-title {
  & span {
    &:last-child {
      color: #222B6C;
    }
  }
}
.section-page.tech-list {
  margin-bottom: 30px;

    @include respond(lgdsf) {
      .container {
        // overflow-x: scroll;

        &::-webkit-scrollbar-thumb {
          background-color: red;
        }

        @include respond(mobilemini) {
          max-width: 100%;
        }

        & .row {
          // width: 1200px; 
          justify-content: space-between;
        }
      }
    }
}

.tech-list__swiper {
  & .swiper-scrollbar {
    display: none;
  }
}

.section-page.garant-info {
  // padding: 5rem 0;

  @include respond(mobilemini) {
    padding: 0rem;
  }
}

.tech-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
  }

  &:hover img {
    transform: scale(1.05, 1.05);
  }
  &:hover span {
    color: #206BB0;
  }

  & img {
    flex-shrink: 0;
    margin-bottom: 1rem;
    object-fit: cover;
    transition: all 0.3s;
  }

  & span {
    text-align: center;
    display: block;
    color: #000;
    font-size: 14px;
    max-width: 170px;
  }
}

//splide__slide
.hero-slide {
  & .swiper-slide:nth-child(1) {
    background-image: url(../images/img/hero-1.jpg);
  }
  & .swiper-slide:nth-child(2) {
    background-image: url(../images/img/hero-2.jpg);
  }
  & .swiper-slide:nth-child(3) {
    background-image: url(../images/img/hero-4.jpg);
  }

  & .swiper-slide {
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    // height: 70rem;
    min-height: 70rem;

    @include respond(mobilemini) {
      min-height: 350px;
      height: 100%;
    }

    & .container {
      height: 60vh;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    @include respond(mobilemini) {
      display: none;
    }
  }

  .swiper-pagination-bullet {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px #FFFFFF;
  }

  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #E2CE19;
    box-shadow: unset;
  }

  & .splide__info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 72px;
    color: #fff;

    @include respond(mobilemini) {
      margin-left: 0;
      padding: 60px 20px;
      align-items: center;
    }

    & .title {
      font-size: 36px;
      line-height: 42px;
      max-width: 460px;
      font-weight: 600;
      margin-bottom: 4rem;
      position: relative;

      @include respond(mobilemini) {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 2rem;
        text-align: center;
      }

      &::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 1px;
        background-color: #e2ce19;
        left: 0;
        bottom: -20px;

        @include respond(mobilemini) {
          bottom: -10px;
          left: 50%;
          margin-left: -100px;
        }
      }
    }

    & .description {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 5rem;

      @include respond(mobilemini) {
        text-align: center;
        margin-bottom: 2rem;
      }
    }
  }

  .splide__arrows {
    & .splide__arrow {
      background-color: transparent;

      & svg {
        fill: #e2ce19;
        width: 2rem;
        height: 2rem;
      }
    }
    & .splide__arrow--prev {
      left: 8%;
    }
    & .splide__arrow--next {
      right: 8%;
    }
  }
}

.btn {
  background: #206bb0;
  border-radius: 10px;
  height: 5rem;
  line-height: 50px;
  text-transform: uppercase;
  min-width: 209px;
  max-width: 209px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;

  @include respond(mobilemini) {
    max-width: 100%;
    width: 100%;
  }

  &:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    box-shadow: inset 0 0 0 1px #206bb0;
  }
}

.btn.btn_white {
  box-shadow: inset 0 0 0 1px #206bb0;
  background-color: transparent;
  color: #206bb0;
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
    background: #206bb0;
    box-shadow: none;
    color: #ffffff;
  }
}

.btn.btn_yellow {
  background: #e2ce19;
  color: #000000;
}
.btn.btn_grey {
  background: #8e8e8e;

  &:hover {
    background-color: #000;
    border: none 0;
    color: #fff;
  }
}
.btn.btn_green {
  background: #82ba3b;
  opacity: 0.8;
  &:hover {
    opacity: 1;
    border: none 0;
    box-shadow: none;
  }
}

.btn.btn_clear {
  color: #1E4355;
  border: 1px solid #1E4355;
  box-shadow: 0px 14px 12px -10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #fff;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;

  &:hover {
    background-color: #206bb0;
    color: #fff;
  }
}

// garant-info

.garant-info__content {
  & .title {
    font-size: 36px;
    line-height: 42px;
    color: #000;
    font-weight: 600;
    max-width: 685px;
    margin-bottom: 67px;
    position: relative;

    @include respond(tabdesk) {
      font-size: 28px;
      line-height: 36px;
      text-align: center;
      max-width: 100%;
    }

    @include respond(mobilemini) {
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 3rem;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -17px;
      width: 50%;
      height: 1px;
      background-color: #e2ce19;

      @include respond(tabdesk) {
        left: 50%;
        margin-left: -250px;
      }

      @include respond(mobilemini) {
        margin-left: -100px;
      }
    }
  }
}

.content-list {
  & .content-list__item {
    display: flex;
    align-items: center;

    @include respond(mobilemini) {
      flex-direction: column;
    }

    &:not(:last-child) {
      margin-bottom: 3rem;

      @include respond(mobilemini) {
        margin-bottom: 2rem;
      }
    }

    & img {
      flex-shrink: 0;
      margin-right: 4rem;

      @include respond(mobilemini) {
        margin-right: 0;
        margin-bottom: 2rem;
      }
    }

    & span {
      line-height: 26px;
      color: #000;

      @include respond(mobilemini) {
        text-align: center;
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
}

// news page

.section-page.news-page {
  padding-bottom: 50px;
  margin-bottom: 0;

  @include respond(phone) {
    padding-bottom: 30px;
  }
}

.news-page {
  & .news-page__swiper-scrollbar {
    & .swiper-wrapper {
      & .swiper-slide {
        width: 31.8%;

        @include respond(desktop) {
          width: 31%;
        }

        @include respond(tabdesk) {
          width: 100%;
        }

        &:not(:last-child) {
          margin-right: 3rem;
        }
      }
    }
  }
  .splide__arrows {
    display: none;
  }
}

.youtube-chanel {
  margin-top: 5rem;
  margin-bottom: 2rem;
  & .title {
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
  }
}

.youtube-block {
  background: url(../images/img/background-youtube.jpg) center center
    no-repeat;
  // margin-bottom: 5rem;
  min-height: 166px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  transition: all 0.3s;
  border-radius: 10px;

  @include respond(phone) {
    margin-bottom: 0;
  }

  &:hover {
    cursor: pointer;
  }

  & a {
    color: #ffffff;
    display: block;
    margin-top: 1rem;
    text-decoration: underline;
  }
}

// news-tech-list

// news-block

.section-page.news-block {
  padding-bottom: 117px;

  @include respond(mobilemini) {
    padding-bottom: 62px;
  }

  & .splide__pagination {
    counter-reset: pagination-num;
    top: 100%;
    margin-top: 5rem;
    

    @include respond(mobilemini) {
      margin-top: 1rem;
    }

    & li {
      font-size: 16px;
      line-height: 19px;
      margin-right: 2rem;

      & .splide__pagination__page:not(.is-active) {
        background-color: transparent;
      }

      & .splide__pagination__page.is-active {
        background: #206bb0;
        border-radius: 5px;
        width: 3rem;
        height: 3rem;
        color: #fff;
        margin: 0;
        opacity: 1;
      }
    }
  }

  & .splide__pagination__page:before {
    counter-increment: pagination-num;
    content: counter(pagination-num);
  }

  & .splide__arrow {
    display: none;
  }

  & .splide__slide:not(:last-child) {
    @include respond(mobilemini) {
      margin-right: 2rem;
    }
  }

  & .our-works__item {
    & .our-works__content {
      & .title {
        font-size: 18px;
        line-height: 21px;
      }

      & p {
        font-size: 14px;
        line-height: 26px;
      }
    }
  }
}

.our-works__item {
  & .our-works__content {
    & .title {
      font-size: 18px;
      line-height: 21px;
    }

    & p {
      font-size: 14px;
      line-height: 26px;
    }
  }
}

// about-us

.about-us {
  margin-top: 3rem;

  & h3.title {
    color: #222b6c;
  }
  & p {
    font-size: 16px;
    line-height: 36px;
    margin-bottom: 3rem;
    margin-top: 1rem;

    @include respond(mobilemini) {
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      margin-bottom: 2rem;
    }
  }
}

// specialist

.specialist__swiper {

  & .swiper-wrapper {

    @include respond(desktop) {
      flex-direction: column;
    }

    @include respond(mobilemini) {
      flex-direction: unset;
    }

    @media (min-width: 1200px) {
      display: flex;

      & .swiper-slide {
        width: 31.5%;
        height: auto;
        margin-right: 3rem;
      }
    }

    & .swiper-slide {
      @include respond(mobilemini) {
        height: auto;
        margin-bottom: 3rem;
      }
    }
  }
  & .swiper-scrollbar-drag {
    background-color: #206BB0;
  }
}

.specialist__item {
  border: 1px solid #0f2e53;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  height: 100%;

  @include respond(mobilemini) {
    margin-bottom: 3rem;
  }

  &::before {
    content: "";
    position: absolute;
    width: 309px;
    height: 309px;
    background: #206bb0;
    border-radius: 50%;
    z-index: -1;
    top: 5rem;
  }

  & .specialist__item-content {
    background: #0f2e53;
    border-radius: 10px;
    padding: 1rem;
    color: #fff;
    position: absolute;
    bottom: 0rem;

    & .title {
      margin-bottom: 1rem;
    }
  }
}

// request-page__inner

.request-page__inner {
  background: url(../images/img/hero-4.jpg) center center no-repeat;
  height: 30rem;
  width: 100%;
  border-radius: 10px;
  padding: 45px 90px;

  @include respond(mobilemini) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px 16px;
    height: auto;
    min-height: 382px;
    background-size: cover;
  }

  & .request-page__heading {
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2rem;
    max-width: 57rem;
    color: #fff;

    @include respond(mobilemini) {
      font-size: 22px;
      line-height: 26px;
      text-align: center;
    }
  }

  & .request-page__form {
    @include respond(mobilemini) {
      width: 100%;
    }
    & .request-page__field {
      @include respond(mobilemini) {
        width: 100%;
      }
      & input {
        background: #ffffff;
        width: 100%;
        max-width: 328px;
        padding: 21px 12px;
        margin-bottom: 2rem;
        &::placeholder {
          text-align: center;
        }

        @include respond(mobilemini) {
          max-width: 100%;
        }
      }

      & .btn {
        border-radius: 0;
        width: 100%;
        max-width: 328px;
        color: #ffffff;
        height: 60px;

        @include respond(mobilemini) {
          max-width: 100%;
        }

        &:hover {
          box-shadow: inset 0 0 0 1px #206bb0;
          background-color: #fff;
          color: #000;
        }
      }
    }
  }
}

// catalog-list

.catalog-list {
  & .catalog-list__item {
    transition: all 0.3;

    &:hover span {
      color: #206BB0;
    }
  }
  & .tech-list__item {
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    padding: 34px;
    min-height: 30rem;
    margin-bottom: 2rem;
    transition: all 0.3;

    @include respond(phone) {
      padding: 16px 20px;
      min-height: 119px;

      & .tech-list__item-icon {
        max-width: 111px;
        height: 87px;
        flex-shrink: 0;

        & img {
          max-width: 100%;
          max-height: 100%;

          @include respond(mobilemini) {
            margin-bottom: 0;
          }
        }
      }
    }

    @include respond(mobilemini) {
      display: flex;
      justify-content: center;
    }

    & img {
      transition: all 0.3 ease;
      object-fit: cover;
    }

    &:hover {
      border-color: #206BB0;
    }
    &:hover span {
      color: #206BB0;
    }
  }
  
  & span {
    font-size: 24px;
    line-height: 28px;
    display: block;
    text-align: center;

    @include respond(mobilemini) {
      font-size: 14px;
      line-height: 16px;
    }
  }

}

// catalog-tab
.catalog-tab__heading {
  & .title {
    color: #222b6c;
  }
}
.catalog-tab__list {
  @include respond(desktop) {
    margin-bottom: 3rem;
  }
  & .catalog-tab__item {

    & .sub-list__item {
      position: relative;
      list-style: disc;

      &::marker {
        color: #206BB0;
      }
    }

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  & a {
    font-size: 24px;
    line-height: 28px;
    color: #000;
    font-weight: 400;

    @include respond(phone) {
      font-size: 18px;
      line-height: 21px;
    }
  }
}
.catalog-tab__item.active .sub-list {
  height: auto;
  opacity: 1;
  display: block;
  transition: all 0.3s ease;
}
.sub-list {
  display: none;
  opacity: 0;
  margin-top: 2rem;
  padding-left: 2rem;
  list-style-type: disc;

  & .sub-list__item {
    & a {
      font-size: 16px;
      line-height: 26px;
      color: #206bb0;
    }
  }
}

.catalog-tab {
  & .tab-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    background: #EFEFEF;
    border-radius: 10px;

    @include respond(mobilemini) {
      flex-wrap: wrap;
    }
  }
  & .tab-content {
    height: 100%;
    width: 100%;

    @include respond(mobilemini) {
      min-height: 270px;
      max-height: 270px;
    }
    & .tab-pane {
      @include respond(mobilemini) {
        flex-direction: column;
        padding: 0px;
      }
    }
    & .tab-pane.active {
      // background: #efefef;
      border-radius: 10px;
      // display: flex;
      // align-items: center;
      // justify-content: flex-start;
      height: 100%;

      @include respond(mobilemini) {
        min-height: 270px;
      }
    }

    & .tab-pane__left {
      background-color: #c4c4c4;
      flex-shrink: 0;
      border-radius: 10px;
      padding: 2rem;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      // width: 50%;

      @include respond(mobilemini) {
        width: 100%;
      }

      & .tab-pane__left-item {
        position: relative;
        width: 70%;
        height: 70%;

        @include respond(mobilemini) {
          // width: 50%;
          // height: auto;
        }

        & .hover-img,
        & .default-img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          z-index: 1;
          display: none;

          &.is-hover {
            z-index: 100;
            display: block;
          }
        }
        & .default-img {
          display: block;
        }
        
      }
    }
  }

  & .tab-pane__right {
    padding-top: 45px;
    padding-bottom: 45px;
    padding-right: 4rem;
    padding-left: 4rem;

    @include respond(mobilemini) {
      width: 100%;
      text-align: center;
      padding: 20px 0 0;
    }

    & .tab-pane__right-item {
      &:first-child {
        margin-bottom: 3rem;
      }

      & .tab-pane__right-grid {
        transition: all 0.3s ease;

        & a {
          color: #000000;
        }
        &:hover {
          cursor: pointer;

          & a {
            text-shadow: 0px 0px 1px #000;
          }
        }
      }
    }
  }
}
.tab-pane__right .tab-pane__right-grid:hover + .tab-content .tab-pane {
  background-color: #113CFC;
}

// catalog-tab__info

.catalog-tab__info {
  & .catalog-tab__heading {
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: center;
  }

  & .catalog-tab__info-content {
    box-shadow: inset 0 0 0 1px #c4c4c4;
    padding: 3rem;
    text-align: center;

    & .catalog-tab__info-name {
      font-weight: 600;
      margin-bottom: 5px;
    }

    & .catalog-tab__info-model {
      margin-bottom: 2rem;
    }
  }
}

// scale-slide

.scale-slide__inner {

  & .swiper-slide {
    border-radius: 10px;
    // width: 328px;
    height: auto;
    transition: all 0.3s ease;
    background: transparent;
    margin: 0;
    transform: scale(1);

    &:hover {
      cursor: pointer;
    }

    @include respond(mobilemini) {
      transform: none;
    }
  }

  & .swiper-slide.swiper-slide-prev,
  & .swiper-slide.swiper-slide-next {
    // background: #DDDDDD;
    transform: scale(1.2);
    position: relative;
    z-index: 90;

    @include respond(mobilemini) {
      transform: none;
    }
  }
  & .swiper-slide.swiper-slide-active {
    // background: #C4C4C4;
    transform: scale(1.3);
    z-index: 100;
    position: relative;

    @include respond(mobilemini) {
      transform: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

}

.scale-slide__swapper {
  max-height: 300px;
  height: 100%;

  @include respond(mobilemini) {
    margin-top: 24px;
  }
  & .swiper-wrapper {
    align-items: center;
    
    & .minimized {
      border-radius: 10px;
    }
  }

  & .swiper-scrollbar {
    background: #C4C4C4;

    @include respond(mobilemini) {
      bottom: 0;
    }
    & .swiper-scrollbar-drag {
      background-color: #206BB0;
    }
    @include respond(tabdesk768) {
      display: none;
    }
  }
}

// catalog-info

.catalog-info__img {
  height: 35rem;

  @include respond(mobilemini) {
    height: auto;
  }
  & img {
    max-width: 100%;
    min-height: 100%;
    border-radius: 10px;
    display: block;
  }
}

.catalog-info__content-head {
  margin-bottom: 5rem;

  @include respond(mobilemini) {
    margin-bottom: 3rem;

    & .title {
      text-align: center;
    }
  }

  & .catalog-info__item {
    margin-top: 2rem;

    @include respond(mobilemini) {
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
    }

    & .title_red {
      color: #e23529;
    }
  }
}
.catalog-info__content-body {
  & .catalog-info__item {
    justify-content: flex-start;

    @include respond(mobilemini) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    & .btn:first-child {
      margin-right: 3rem;

      @include respond(mobilemini) {
        margin-right: 0;
        margin-bottom: 2rem;
      }
    }
    & .title_red {
      color: #e23529;

      @include respond(mobilemini) {
        text-align: center;
        margin-bottom: 2rem;
      }
    }

    & .btn_green {
      max-width: 447px;
      width: 100%;
      color: #fff;

      @include respond(mobilemini) {
        max-width: 100%;
        margin-bottom: 0;
      }

      & svg {
        margin-right: 1rem;
      }
    }

    & .catalog-info__item-counter {
      background: #ffffff;
      border: 1px solid #8e8e8e;
      border-radius: 10px;
      margin-left: 5rem;
      padding: 7px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 209px;

      @include respond(mobilemini) {
        margin-left: 0;
      }

      & button {
        background: #ececec;
        border-radius: 10px;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      & .counter {
        text-align: center;
      }
    }
  }
}
.catalog-info__item-child,
.catalog-info__item {
  display: flex;
  align-items: center;
}

.catalog-info__item {
  justify-content: space-between;
}
.catalog-info__item-child {

  @include respond(mobilemini) {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
  }
  transition: all 0.3s ease;
  &:hover {
    cursor: pointer;
  }
  &:hover svg {
    color: #206BB0;
  }
  &:hover .catalog-info__item-title {
    color: #206BB0;
  }
  & svg {
    margin-right: 1rem;
    flex-shrink: 0;
    color: #8E8E8E;
  }

  & .catalog-info__item-title {
    color: #8e8e8e;
    font-size: 12px;
    line-height: 14px;
  }
}


// catalog-tab-child

.catalog-tab-child {
  & .catalog-tab__list {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    padding-bottom: 2rem;
    max-width: 804px;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #C4C4C4;

    @include respond(mobilemini) {
      flex-direction: column;
    }

    & .catalog-tab__item {

      @include respond(mobilemini) {
        margin-bottom: 2rem;
        width: 100%;
        text-align: center;
        box-shadow: inset 0 0 0 1px #C0C0C0;
        border-radius: 10px;
        & a {
          padding: 17px;
          display: block;
        }
      }
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -22px;
        left: 0;
        // top: 100%;
        width: 100%;
        background-color: transparent;
        height: 3px;
        transition: all 0.3s linear;
      }
      &:not(:last-child) {
        margin-bottom: 0;

        @include respond(mobilemini) {
          margin-bottom: 2rem;
        }
      }

      & a {
        color: #AEAEAE;
      }
    }
    & .catalog-tab__item.active::after {
      background-color: #222B6C;

      @include respond(mobilemini) {
        display: none;
      }
    }
    & .catalog-tab__item.active a {
      color: #222B6C;
    }
  }

  & .tab-content {
    & .tab-pane {
      @include respond(mobilemini) {
        font-size: 14px;
        line-height: 24px;
        text-align: center;
      }
    }
  }
}

.certificats-page {
  & .swiper-slide {
    width: 328px;
    height: 400px;
    background: #C4C4C4;
    border-radius: 10px;
  }

  & .swiper-wrapper__arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    & .swiper-button-next,
    .swiper-button-prev {
      position: unset;
      margin-top: 3rem;
      margin-right: 20px;
      margin-left: 20px;
      color: #113CFC;
    }
  }
}

// swiper

  .swiper-button-next, 
  .swiper-button-prev {
    color: #E2CE19;
  }

  .swiper-button-disabled {
    color: #FFFFFF;
  }

// complate-page

.complate-page {
  & .complate-page__item {
      color: #000;
      display: block;

      @media (max-width: 575px) {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
      }
    & span {
      text-align: center;
      text-transform: uppercase;
      display: block;
      margin-top: 2rem;
    }
  }
}

.complate-page-child {
  & .complate-page__item {
      display: flex;
      flex-direction: column;
      align-items: center;
    @media (max-width: 575px) {
      margin-bottom: 2rem;
    }
}
  & .title {
    color: #222B6C;
  }
  & span {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-top: 2rem;
    text-transform: uppercase;

    @media (max-width: 575px) {
      margin-top: 2rem;
    }

    &.active {
      color: #222B6C;
    }
  }
}

// project-solutions

.project-solutions {
  & .our-works__item {
    & .project-solutions__top {
      @include respond(mobilemini) {
        margin-bottom: 3rem;
      }
      & .title {
        @include respond(mobilemini) {
          font-size: 18px;
          line-height: 21px;
          margin-bottom: 0;
        }
      }
    }

    & .our-works__content {
      & p {
        @include respond(mobilemini) {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
  }
}

// vertical-slide

.vertical-slide {

  .row {
    @include respond(mobilemini) {
      flex-direction: column-reverse;
    }
  }
  & .splide {
    display: flex;
    flex-direction: row-reverse;
  }
  & .splide__track {
    padding-right: 76px;

    @include respond(phone) {
      padding-right: 32px;
    }

    @include respond(mobilemini) {
      padding-right: 0;
    }
  }
  & .vertical-slide__left {
    @include respond(phone) {
      text-align: center;
    }
    & .title {
      max-width: 330px;
      margin-bottom: 1rem;

      @include respond(phone) {
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
      }

      @include respond(mobilemini) {
        font-size: 18px;
        line-height: 21px;
      }
    }

    & .vertical-slide__left-content {
      & span {
        color: #888888;
        margin-bottom: 1rem;
        display: block;
      }
      & p {
        line-height: 26px;
      }
    }
  }

  & .vertical-slide__right {
    flex-shrink: 0;
    height: inherit;

    & img {
      height: 100%;
    }
  }

  & .splide__arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & .splide__arrow {
      transform: unset;
      background-color: transparent;
      position: unset;

      @include respond(mobilemini) {
        display: none;
      }

      & svg {
        width: 3rem;
        height: 3rem;
        fill: #222B6C;
      }
    }
  }

  & .splide__pagination {
    display: none;
  }
}

// pagination

.list-wrapper {
	padding: 15px;
	overflow: hidden;
}

.list-item {
	border: 1px solid #EEE;
	background: #FFF;
	margin-bottom: 10px;
	padding: 10px;
	box-shadow: 0px 0px 10px 0px #EEE;
}

.list-item h4 {
	color: #FF7182;
	font-size: 18px;
	margin: 0 0 5px;	
}

.list-item p {
	margin: 0;
}

.simple-pagination ul {
	margin: 0 0 20px;
	padding: 0;
	list-style: none;
	text-align: center;
}

.simple-pagination li {
	display: inline-block;
	margin-right: 5px;
}

.simple-pagination li a,
.simple-pagination li span {
	color: #666;
	padding: 5px 10px;
	text-decoration: none;
	border: 1px solid #EEE;
	background-color: #FFF;
	box-shadow: 0px 0px 10px 0px #EEE;
}

.simple-pagination .current {
	color: #FFF;
	background-color: #FF7182;
	border-color: #FF7182;
}

.simple-pagination .prev.current,
.simple-pagination .next.current {
	background: #e04e60;
}

// Favorite

.favorite__left {
  display: flex;
  align-items: center;

  @include respond(mobilemini) {
    flex-direction: column;
  }

  & .favorite__left-img {
      max-width: 208px;
      width: 100%;
      height: 150px;
      flex-shrink: 0;
      margin-right: 3rem;
      
      @include respond(tabdesk) {
        max-width: 50%;
        height: 250px;
      }

      @include respond(mobilemini) {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 2rem;
      }
    
      & img {
        max-width: 100%;
        height: 100%;
        border-radius: 10px;
      }
  }

  & .title {
    font-size: 18px;
    line-height: 21px;

    @include respond(mobilemini) {
      text-align: center;
    }
  }

}

.favorite {

  & .favorite__item {
    &:not(:last-child) {
      border-bottom: 1px solid #E9E9E9;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
  }
  .catalog-info__content {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  & .catalog-info__content-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include respond(mobilemini) {
      flex-direction: column;
    }

    & .catalog-info__item {
      &:not(:last-child) {
        margin-bottom: 0;

        @include respond(mobilemini) {
          margin-bottom: 2rem;
        }
      }

      & .btn:first-child {
        margin-right: 0;
      }

      & .title {
        font-size: 18px;
        line-height: 21px;
        max-width: 328px;
        margin-right: 4rem;

        @include respond(mobilemini) {
          margin-right: 0;
          text-align: center;
        }
      }

      & .btn {
        @include respond(mobilemini) {
          margin-bottom: 0;
        }
      }
    }

    & .catalog-info__item-counter.qty__inner {
      max-width: 209px;
      margin-left: 0;

      & .counter {
        width: 50%;
      }
    }
  }
}

// compare__inner
.compare {
  padding-bottom: 20px;

  @include respond(mobilemini) {
    padding-bottom: 0;
  }
}

.compare__inner {
  & .favorite__left {
    display: flex;
    margin-bottom: 15px;

    & .favorite__left-img {
      @include respond(desktop) {
        max-width: 60%;
        height: 200px;
      }

      @include respond(mobilemini) {
        max-width: 100%;
        height: auto;
      }
    }
    & .title {
      font-size: 18px;
      line-height: 21px;
      max-width: 328px;
    }
  }

  & .col-12:first-child {
    .compare__item {
      border-right: 2px solid #EEEEEE;

      @include respond(desktop) {
        margin-bottom: 3rem;
        border-right: none;
        padding-bottom: 3rem;
        border-bottom: 1px solid #EEEEEE;
      }

      @include respond(mobilemini) {
        padding-bottom: 2rem;
      }
    }
  }

  & .catalog-info__content {

    & .order-btn {
      color: #fff;

      &:hover {
        color: #000;
      }
    }
    & .catalog-info__item-counter {
      max-width: 209px;
      & .counter {
        width: 50%;
      }
    }
  }

  & .catalog-info__content-body {
    @include respond(desktop) {
      display: flex;
    }

    @include respond(mobilemini) {
      flex-direction: column;
    }

    & .catalog-info__item {

      & .title.title_red {
        font-size: 18px;
        line-height: 21px;
      }
      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: 3rem;

        @include respond(mobilemini) {
          margin-right: 0;
          margin-bottom: 3rem;
        }
      }
    }
  }

  & .compare__swiper-arrows {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    & .swiper-button-next, 
    & .swiper-button-prev {
      position: relative;
      z-index: 100;
      margin-top: 0;
      width: 6rem;
      border-radius: 50%;
      height: 6rem;
      background: #206BB0;
      box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.1);
      color: #fff;
    }

    & .swiper-button-prev.swiper-button-disabled,
    & .swiper-button-next.swiper-button-disabled {
      background: #FFFFFF;
      color: #39A2DB;
      opacity: 1;
    }

    & .swiper-button-next:after {
      transform: rotate(-180deg);
      font-size: 30px;
    }

    & .swiper-button-prev:after {
      transform: rotate(180deg);
      font-size: 30px;
    }
  }

  
}


#overlay {
  display: none;
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  z-index: 9990;
}
#magnify {
  display: none;
  position: fixed;
  max-width: 90%;
  height: auto;
  z-index: 9999;

  & img {
    border-radius: 10px;
  }
}

#close-popup {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}

#close-popup i {
  background: url(../images/icons/close.svg) no-repeat center center;
  background-size: 16px 16px;
  display: block;
  height: 100%;
  width: 100%;
}