// tech-list
.section-page {
  margin-bottom: 5rem;

  @include respond(mobilemini) {
    margin-bottom: 3rem;
  }
}
.section-page.tech-list {
  margin-bottom: 30px;

    @include respond(lgdsf) {
      .container {
        // overflow-x: scroll;

        &::-webkit-scrollbar-thumb {
          background-color: red;
        }

        @include respond(mobilemini) {
          max-width: 100%;
        }

        & .row {
          // width: 1200px; 
          justify-content: space-between;
        }
      }
    }
}

.tech-list__swiper {
  & .swiper-scrollbar {
    display: none;
  }
}

.section-page.garant-info {
  // padding: 5rem 0;

  @include respond(mobilemini) {
    padding: 0rem;
  }
}

.tech-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
  }

  &:hover img {
    transform: scale(1.05, 1.05);
  }
  &:hover span {
    color: #206BB0;
  }

  & img {
    flex-shrink: 0;
    margin-bottom: 1rem;
    object-fit: cover;
    transition: all 0.3s;
  }

  & span {
    text-align: center;
    display: block;
    color: #000;
    font-size: 14px;
    max-width: 170px;
  }
}

//splide__slide
.hero-slide {
  & .swiper-slide:nth-child(1) {
    background-image: url(../images/img/hero-1.jpg);
  }
  & .swiper-slide:nth-child(2) {
    background-image: url(../images/img/hero-2.jpg);
  }
  & .swiper-slide:nth-child(3) {
    background-image: url(../images/img/hero-4.jpg);
  }

  & .swiper-slide {
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    // height: 70rem;
    min-height: 70rem;

    @include respond(mobilemini) {
      min-height: 350px;
      height: 100%;
    }

    & .container {
      height: 60vh;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    @include respond(mobilemini) {
      display: none;
    }
  }

  .swiper-pagination-bullet {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px #FFFFFF;
  }

  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #E2CE19;
    box-shadow: unset;
  }

  & .splide__info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-left: 72px;
    color: #fff;

    @include respond(mobilemini) {
      margin-left: 0;
      padding: 60px 20px;
      align-items: center;
    }

    & .title {
      font-size: 36px;
      line-height: 42px;
      max-width: 460px;
      font-weight: 600;
      margin-bottom: 4rem;
      position: relative;

      @include respond(mobilemini) {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 2rem;
        text-align: center;
      }

      &::after {
        content: "";
        position: absolute;
        width: 50%;
        height: 1px;
        background-color: #e2ce19;
        left: 0;
        bottom: -20px;

        @include respond(mobilemini) {
          bottom: -10px;
          left: 50%;
          margin-left: -100px;
        }
      }
    }

    & .description {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 5rem;

      @include respond(mobilemini) {
        text-align: center;
        margin-bottom: 2rem;
      }
    }
  }

  .splide__arrows {
    & .splide__arrow {
      background-color: transparent;

      & svg {
        fill: #e2ce19;
        width: 2rem;
        height: 2rem;
      }
    }
    & .splide__arrow--prev {
      left: 8%;
    }
    & .splide__arrow--next {
      right: 8%;
    }
  }
}

.btn {
  background: #206bb0;
  border-radius: 10px;
  height: 5rem;
  line-height: 50px;
  text-transform: uppercase;
  min-width: 209px;
  max-width: 209px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;

  @include respond(mobilemini) {
    max-width: 100%;
    width: 100%;
  }

  &:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    box-shadow: inset 0 0 0 1px #206bb0;
  }
}

.btn.btn_white {
  box-shadow: inset 0 0 0 1px #206bb0;
  background-color: transparent;
  color: #206bb0;
  transition: all 0.3s;

  &:hover {
    cursor: pointer;
    background: #206bb0;
    box-shadow: none;
    color: #ffffff;
  }
}

.btn.btn_yellow {
  background: #e2ce19;
  color: #000000;
}
.btn.btn_grey {
  background: #8e8e8e;

  &:hover {
    background-color: #000;
    border: none 0;
    color: #fff;
  }
}
.btn.btn_green {
  background: #82ba3b;
  opacity: 0.8;
  &:hover {
    opacity: 1;
    border: none 0;
    box-shadow: none;
  }
}

// garant-info

.garant-info__content {
  & .title {
    font-size: 36px;
    line-height: 42px;
    color: #000;
    font-weight: 600;
    max-width: 685px;
    margin-bottom: 67px;
    position: relative;

    @include respond(tabdesk) {
      font-size: 28px;
      line-height: 36px;
      text-align: center;
      max-width: 100%;
    }

    @include respond(mobilemini) {
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 3rem;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -17px;
      width: 50%;
      height: 1px;
      background-color: #e2ce19;

      @include respond(tabdesk) {
        left: 50%;
        margin-left: -250px;
      }

      @include respond(mobilemini) {
        margin-left: -100px;
      }
    }
  }
}

.content-list {
  & .content-list__item {
    display: flex;
    align-items: center;

    @include respond(mobilemini) {
      flex-direction: column;
    }

    &:not(:last-child) {
      margin-bottom: 3rem;

      @include respond(mobilemini) {
        margin-bottom: 2rem;
      }
    }

    & img {
      flex-shrink: 0;
      margin-right: 4rem;

      @include respond(mobilemini) {
        margin-right: 0;
        margin-bottom: 2rem;
      }
    }

    & span {
      line-height: 26px;
      color: #000;

      @include respond(mobilemini) {
        text-align: center;
        font-size: 14px;
        line-height: 24px;
      }
    }
  }
}

// news page

.section-page.news-page {
  padding-bottom: 50px;
  margin-bottom: 0;

  @include respond(phone) {
    padding-bottom: 30px;
  }
}

.news-page {
  & .news-page__swiper-scrollbar {
    & .swiper-wrapper {
      & .swiper-slide {
        width: 31.8%;

        @include respond(desktop) {
          width: 31%;
        }

        @include respond(tabdesk) {
          width: 100%;
        }

        &:not(:last-child) {
          margin-right: 3rem;
        }
      }
    }
  }
  .splide__arrows {
    display: none;
  }
}

.youtube-chanel {
  margin-top: 5rem;
  margin-bottom: 2rem;
  & .title {
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
  }
}

.youtube-block {
  background: url(../images/img/background-youtube.jpg) center center
    no-repeat;
  // margin-bottom: 5rem;
  min-height: 166px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  transition: all 0.3s;
  border-radius: 10px;

  @include respond(phone) {
    margin-bottom: 0;
  }

  &:hover {
    cursor: pointer;
  }

  & a {
    color: #ffffff;
    display: block;
    margin-top: 1rem;
    text-decoration: underline;
  }
}

// news-block

.section-page.news-block {
  padding-bottom: 117px;

  & .splide__pagination {
    counter-reset: pagination-num;
    top: 100%;
    margin-top: 5rem;

    & li {
      font-size: 16px;
      line-height: 19px;
      margin-right: 2rem;

      & .splide__pagination__page:not(.is-active) {
        background-color: transparent;
      }

      & .splide__pagination__page.is-active {
        background: #206bb0;
        border-radius: 5px;
        width: 3rem;
        height: 3rem;
        color: #fff;
        margin: 0;
        opacity: 1;
      }
    }
  }

  & .splide__pagination__page:before {
    counter-increment: pagination-num;
    content: counter(pagination-num);
  }
}

// about-us

.about-us {
  margin-top: 3rem;

  & h3.title {
    color: #222b6c;
  }
  & p {
    font-size: 16px;
    line-height: 36px;
    margin-bottom: 3rem;
    margin-top: 1rem;

    @include respond(mobilemini) {
      font-size: 14px;
      line-height: 24px;
      text-align: center;
      margin-bottom: 2rem;
    }
  }
}

// specialist

.specialist__item {
  border: 1px solid #0f2e53;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  height: 100%;

  &::before {
    content: "";
    position: absolute;
    width: 309px;
    height: 309px;
    background: #206bb0;
    border-radius: 50%;
    z-index: -1;
    top: 5rem;
  }

  & .specialist__item-content {
    background: #0f2e53;
    border-radius: 10px;
    padding: 1rem;
    color: #fff;
    position: absolute;
    bottom: 0rem;

    & .title {
      margin-bottom: 1rem;
    }
  }
}

// request-page__inner

.request-page__inner {
  background: url(../images/img/hero-4.jpg) center center no-repeat;
  height: 30rem;
  width: 100%;
  border-radius: 10px;
  padding: 45px 90px;

  @include respond(mobilemini) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 44px 16px;
    height: auto;
    min-height: 382px;
    background-size: cover;
  }

  & .request-page__heading {
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2rem;
    max-width: 57rem;
    color: #fff;

    @include respond(mobilemini) {
      font-size: 22px;
      line-height: 26px;
      text-align: center;
    }
  }

  & .request-page__form {
    @include respond(mobilemini) {
      width: 100%;
    }
    & .request-page__field {
      @include respond(mobilemini) {
        width: 100%;
      }
      & input {
        background: #ffffff;
        width: 100%;
        max-width: 328px;
        padding: 21px 12px;
        margin-bottom: 2rem;
        &::placeholder {
          text-align: center;
        }

        @include respond(mobilemini) {
          max-width: 100%;
        }
      }

      & .btn {
        border-radius: 0;
        width: 100%;
        max-width: 328px;
        color: #ffffff;
        height: 60px;

        @include respond(mobilemini) {
          max-width: 100%;
        }

        &:hover {
          box-shadow: inset 0 0 0 1px #206bb0;
          background-color: #fff;
          color: #000;
        }
      }
    }
  }
}

// catalog-list

.catalog-list {
  & .catalog-list__item {
    transition: all 0.3;

    &:hover span {
      color: #206BB0;
    }
  }
  & .tech-list__item {
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    padding: 34px;
    min-height: 30rem;
    margin-bottom: 2rem;
    transition: all 0.3;

    & img {
      transition: all 0.3 ease;
      object-fit: cover;
    }

    &:hover {
      border-color: #206BB0;
    }
    &:hover span {
      color: #206BB0;
    }
  }
  
  & span {
    font-size: 24px;
    line-height: 28px;
    display: block;
    text-align: center;
  }

}

// catalog-tab
.catalog-tab__heading {
  & .title {
    color: #222b6c;
  }
}
.catalog-tab__list {
  & .catalog-tab__item {

    & .sub-list__item {
      position: relative;
      list-style: disc;

      &::marker {
        color: #206BB0;
      }
    }

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
  & a {
    font-size: 24px;
    line-height: 28px;
    color: #000;
    font-weight: 400;
  }
}
.catalog-tab__item.active .sub-list {
  height: auto;
  opacity: 1;
  display: block;
  transition: all 0.3s ease;
}
.sub-list {
  display: none;
  opacity: 0;
  margin-top: 2rem;
  padding-left: 2rem;
  list-style-type: disc;

  & .sub-list__item {
    & a {
      font-size: 16px;
      line-height: 26px;
      color: #206bb0;
    }
  }
}

.catalog-tab {
  & .tab-content {
    height: 100%;
    width: 100%;
    & .tab-pane.active {
      background: #efefef;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }

    & .tab-pane__left {
      background-color: #c4c4c4;
      flex-shrink: 0;
      border-radius: 10px;
      padding: 2rem;
      height: inherit;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
    }

    & .tab-pane__right {
      background-color: #efefef;
      padding: 45px 40px;
      border-radius: 10px;
      width: 50%;
      height: inherit;

      & .tab-pane__right-item {
        & span,
        & strong {
          display: block;
        }
        &:first-child {
          margin-bottom: 3rem;
        }
      }
    }
  }
}

// catalog-tab__info

.catalog-tab__info {
  & .catalog-tab__heading {
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: center;
  }

  & .catalog-tab__info-content {
    box-shadow: inset 0 0 0 1px #c4c4c4;
    padding: 3rem;
    text-align: center;

    & .catalog-tab__info-name {
      font-weight: 600;
      margin-bottom: 5px;
    }

    & .catalog-tab__info-model {
      margin-bottom: 2rem;
    }
  }
}

// scale-slide

.scale-slide__inner {
  & .splide__list {
    // display: flex;
    align-items: center;
    // justify-content: center;
  }

  & .splide__slide:not(.is-active) {
    transform: scale(0.9);
    background: #eeeeee;
  }

  & .splide__slide.is-active {
    background: #c4c4c4;
    transform: scale(1.3);
    position: relative;
    z-index: 100;
    border-radius: 10px;
    max-width: 447px;
    width: 100%;
    height: 220px;
  }

  & .splide__slide.is-prev,
  & .splide__slide.is-next {
    background: #dddddd;
    z-index: 90;
    transform: scale(1);
  }

  & .splide__slide {
    border-radius: 10px;
    width: 328px;
    height: 200px;
    transition: all 0.3s ease;
    background: #EEEEEE;
    margin: 0;
  }

  & .splide__pagination,
  & .splide__arrows {
    display: none;
  }
}

// catalog-info

.catalog-info__img {
  height: 35rem;
  & img {
    max-width: 100%;
    min-height: 100%;
    border-radius: 10px;
    display: block;
  }
}

.catalog-info__content-head {
  margin-bottom: 5rem;

  & .catalog-info__item {
    margin-top: 2rem;

    & .title_red {
      color: #e23529;
    }
  }
}
.catalog-info__content-body {
  & .catalog-info__item {
    justify-content: flex-start;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    & .btn:first-child {
      margin-right: 3rem;
    }
    & .title_red {
      color: #e23529;
    }

    & .btn_green {
      max-width: 447px;
      width: 100%;
      color: #fff;

      & svg {
        margin-right: 1rem;
      }
    }

    & .catalog-info__item-counter {
      background: #ffffff;
      border: 1px solid #8e8e8e;
      border-radius: 10px;
      margin-left: 5rem;
      padding: 7px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 209px;

      & button {
        background: #ececec;
        border-radius: 10px;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      & .counter {
        text-align: center;
      }
    }
  }
}
.catalog-info__item-child,
.catalog-info__item {
  display: flex;
  align-items: center;
}

.catalog-info__item {
  justify-content: space-between;
}
.catalog-info__item-child {
  transition: all 0.3s ease;
  &:hover {
    cursor: pointer;
  }
  &:hover svg {
    color: #206BB0;
  }
  &:hover span {
    color: #206BB0;
  }
  & svg {
    margin-right: 1rem;
    flex-shrink: 0;
    color: #8E8E8E;
  }

  & span {
    color: #8e8e8e;
    font-size: 12px;
    line-height: 14px;
  }
}


// catalog-tab-child

.catalog-tab-child {
  & .catalog-tab__list {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    padding-bottom: 2rem;
    max-width: 804px;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #C4C4C4;

    & .catalog-tab__item {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -22px;
        left: 0;
        // top: 100%;
        width: 100%;
        background-color: transparent;
        height: 3px;
        transition: all 0.3s linear;
      }
      &:not(:last-child) {
        margin-bottom: 0;
      }

      & a {
        color: #AEAEAE;
      }
    }
    & .catalog-tab__item.active::after {
      background-color: #222B6C;
    }
    & .catalog-tab__item.active a {
      color: #222B6C;
    }
  }
}

.certificats-page {
  & .swiper-slide {
    width: 328px;
    height: 400px;
    background: #C4C4C4;
    border-radius: 10px;
  }
}

// swiper

  .swiper-button-next, 
  .swiper-button-prev {
    color: #E2CE19;
  }

  .swiper-button-disabled {
    color: #FFFFFF;
  }

// complate-page

.complate-page {
  & .complate-page__item {
      color: #000;
      display: block;
    & span {
      text-align: center;
      text-transform: uppercase;
      display: block;
      margin-top: 2rem;
    }
  }
}

.complate-page-child {
  & .title {
    color: #222B6C;
  }
  & span {
    font-size: 14px;
    line-height: 16px;

    &.active {
      color: #222B6C;
    }
  }
}

// vertical-slide

.vertical-slide {
  & .splide {
    display: flex;
    flex-direction: row-reverse;
  }
  & .splide__track {
    padding-right: 76px;
  }
  & .vertical-slide__left {
    & .title {
      max-width: 330px;
      margin-bottom: 1rem;
    }

    & .vertical-slide__left-content {
      & span {
        color: #888888;
        margin-bottom: 1rem;
        display: block;
      }
      & p {
        line-height: 26px;
      }
    }
  }

  & .vertical-slide__right {
    flex-shrink: 0;
    height: inherit;

    & img {
      height: 100%;
    }
  }

  & .splide__arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & .splide__arrow {
      transform: unset;
      background-color: transparent;
      position: unset;

      & svg {
        width: 3rem;
        height: 3rem;
        fill: #222B6C;
      }
    }
  }

  & .splide__pagination {
    display: none;
  }
}

// pagination

.list-wrapper {
	padding: 15px;
	overflow: hidden;
}

.list-item {
	border: 1px solid #EEE;
	background: #FFF;
	margin-bottom: 10px;
	padding: 10px;
	box-shadow: 0px 0px 10px 0px #EEE;
}

.list-item h4 {
	color: #FF7182;
	font-size: 18px;
	margin: 0 0 5px;	
}

.list-item p {
	margin: 0;
}

.simple-pagination ul {
	margin: 0 0 20px;
	padding: 0;
	list-style: none;
	text-align: center;
}

.simple-pagination li {
	display: inline-block;
	margin-right: 5px;
}

.simple-pagination li a,
.simple-pagination li span {
	color: #666;
	padding: 5px 10px;
	text-decoration: none;
	border: 1px solid #EEE;
	background-color: #FFF;
	box-shadow: 0px 0px 10px 0px #EEE;
}

.simple-pagination .current {
	color: #FFF;
	background-color: #FF7182;
	border-color: #FF7182;
}

.simple-pagination .prev.current,
.simple-pagination .next.current {
	background: #e04e60;
}