.header-page {
  margin-bottom: 2rem;
}

.header-page__inner {
    background: #0f2e53;
    padding: 15px 0;
    margin-bottom: 24px;
}

.header-page__bottom {
  & .site-logo {
    display: inline-block;
    flex-shrink: 0;

    @media (max-width: 575px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.header-page__item {
  display: flex;
  align-items: center;
  transition: all 0.3s ease;

  &:hover a {
    color: #e2ce19;
  }

  &:first-child {
    margin-right: 5rem;

    @include respond(tabdesk) {
      margin-right: 2rem;
    }

    @media (max-width: 575px) {
      margin-right: 0;
    }
  }

  & svg {
    margin-right: 1rem;
    flex-shrink: 0;
  }

  & .header-page__phone-number {
    display: block;
    font-family: $gilroy-bold;
    font-size: 18px;
    line-height: 22px;
  }

  & .header-page__pochta {
    font-size: 16px;
    line-height: 19px;
    text-transform: none;
  }

  & span {
    font-size: 16px;
    line-height: 19px;
    color: #fff;

    @include respond(mobilemini) {
      font-weight: 400;
    }

    &:hover {
      color: #E2CE19;
      cursor: pointer;
    }
  }
}

.header-page__search {
  width: 100%;
  & .header-page__input {
    width: inherit;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 13px 20px;
    height: 5rem;
    position: relative;
    background-image: url(../images/icons/search.svg);
    background-position: center right 20px;
    background-repeat: no-repeat;

    &::placeholder {
      color: #c4c4c4;
      font-size: 14px;
      line-height: 17px;
    }
  }
}

// navbar-list

.navbar-list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include respond(lgdsf) {
      display: none;
    }
    & .navbar-list__item {

        &:not(:last-child) {
            margin-right: 35px;
        }
        & a {
            font-size: 16px;
            line-height: 19px;
            text-transform: uppercase;
            color: #000;
            white-space: nowrap;
            transition: all 0.3s ease;

            &:hover {
              color: #206BB0;
            }
        }
    }
    &.navbar-list__item.active {
      color: #206BB0;
    }
}

.navbar-list_mobile {
  display: none;
  @include respond(lgdsf) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    height: 100%;
    background: #0F2E53;
    position: fixed;
    transition: all .3s;
    // box-shadow: 0 10px 10px -5px rgb(0 0 0 / 5%);
    pointer-events: none;
    transform: translateY(3rem);
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 14px 20px 34px;

    & .navbar-list__item {
      width: 100%;
      justify-content: center;
      align-items: center;
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 3rem;
      }
      & a {
        color: #fff;
      }
    }

    & .navbar-list__item_mobile-info {
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      & .header-page__item:first-child {
        margin-right: 0;
        margin-bottom: 3rem;
      }

      & a {
        text-transform: none;
      }
    }

    & .navbar-list__item_mobile {
      & .header-page__item:first-child {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }

    & .col-right {
      transition: all 0.3s ease;
      &:hover {
        cursor: pointer;
        transform: scale(0.9);
      }
    }
    
  }
}

.navbar-list_mobile.active {
  transform: translateY(0);
  pointer-events: auto;
  opacity: 1;
}

// hero-slide

.hero-slide {
  & .splide__pagination {
    & .splide__pagination__page {
      background-color: transparent;
      box-shadow: inset 0 0 0 1px #fff;
    }
    & .splide__pagination__page.is-active {
      background-color: #E2CE19;
      box-shadow: inset 0 0 0 1px #E2CE19;
    }
  }
}

.site-hamburger {
  transition: all 0.3s ease;
  & svg {
    @include respond(tabdesk) {
      color: #fff;
    }
  }
}

.site-hamburger:hover svg {
  color: #E2CE19;
  cursor: pointer;
}

// popup-page

.popup-page {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  max-width: 447px;
  width: 100%;
  padding: 3rem;
  transform: translate(-50%,-40%);
  opacity: 1;
  transition: all .5s ease;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -1;
  opacity: 0;

  &.active {
    transform: translate(-50%,-50%);
    opacity: 1;
    z-index: 9999;
  }

  & .popup-page__close {
    position: absolute;
    top: 10px;
    right: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  & .title {
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  & .popup-page__form {

    & .popup-page__label {
      display: block;
      margin-bottom: 2rem;

      & .popup-page__input {
        box-shadow: inset 0 0 0 1px #DDDDDD;
        padding: 16px;
        color: #ABABAB;
        border-radius: 10px;
        outline: 0;
        width: 100%;
        max-width: 268px;
      }
    }

    & .btn {
      max-width: 268px;
      width: 100%;
      color: #FFFFFF;
      margin: auto;

      &:hover {
        color: #206bb0;
      }
    }
  }
}

.nav-overlay {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 25;
  position: fixed;
  display: none;
  background-color: rgba(0,0,0,.5);
}