.section-page.list-block {
    padding-bottom: 88px;
    background: #F6FCFF;
    padding-top: 5rem;

    @include respond(phone) {
      padding-bottom: 30px;
    }

    & .list-block__heading {
        margin-bottom: 5rem;

        @include respond(tabdesk) {
          margin-bottom: 7rem;
          text-align: center;
        }
    }
}
.list-block__wrapper {
  margin-bottom: 3rem;

  @include respond(tabdesk) {
    margin-bottom: 8rem;
    }

    @include respond(mobilemini) {
      margin-bottom: 0;
    }
}
.list-block__wrapper:not(:last-child) {
  @include respond(mobilemini) {
    margin-bottom: 8rem;
  }
}
.list-block__item {
    background: #FFFFFF;
    border: 1px solid #CFD8DC;
    border-radius: 10px;
    padding: 42px 42px 42px 90px;
    margin: 0 auto;
    width: 86%;
    position: relative;
    height: 100%;
    transition: background 0.2s ease;

    @include respond(desktop) {
      padding: 28px 60px;
    }

    @include respond(phone) {
        padding: 28px 90px;
    }

    @include respond(mobilemini) {
      padding-bottom: 11px;
      padding-top: 70px;
      padding-right: 11px;
      padding-left: 11px;
      text-align: center;
    }

    &::after {
        content: '';
        background-image: url(../images/img/quiz-list.png);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;
        position: absolute;
        opacity: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        transition: all 0.6s ease;
    }

    &:hover {
        cursor: pointer;
    }

    &:hover::after {
        opacity: 1;
    }

    &:hover .title {
        color: #FFFFFF;
        z-index: 10;
        font-weight: 600;
        position: relative;
    }
    &:hover .list-block__item-content .text {
        color: #E2CE19;
        z-index: 10;
        font-weight: 600;
        position: relative;
    }
    &:hover .list-block__item-content svg {
        color: #fff;
        z-index: 10;
        position: relative;
    }

    & .title {
        margin-bottom: 1rem;
        max-width: 30rem;

        @include respond(mobilemini) {
          margin-right: auto;
          margin-left: auto;
        }
    }

    & .list-block__item-content {
        display: flex;
        align-items: center;

        @include respond(mobilemini) {
          justify-content: center;
        }

        & .text {
            color: #206BB0;
            margin-right: 1rem;
        }

        & svg {
            color: #206BB0;
        }
    }

    & .list-block__item-icon {
        position: absolute;
        background: #FFFFFF;
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 119px;
        height: 119px;
        border-radius: 50%;
        left: -60px;
        top: 10%;
        z-index: 2;

        @include respond(phone) {
          top: 0;
        }

        @include respond(mobilemini) {
          top: 0;
          left: 50%;
          margin-top: -60px;
          margin-left: -60px;
        }
    }
}