.services-slide {
    color: #000;
    margin-bottom: 5rem;

    & .splide__slide:not(:last-child) {
        margin-right: 2rem;
    }

    & .splide__arrow {
        background-color: transparent;
        height: 6rem;
        width: 6rem;

        &:disabled svg {
            fill: #fff;
        }

        & svg {
            fill: #E2CE19;
            height: 4rem;
            width: 4rem;
        }
    }

    & .splide__arrow--prev {
        left: -15rem;
        top: 85%;

        @include respond(tabdesk) {
          top: -12%;
          bottom: 100%;
          left: 40%;

          @include respond(mobilemini) {
            left: 30%;
            top: -20%;
          }
        }
    }
    & .splide__arrow--next {
        left: -10rem;
        top: 85%;

        @include respond(tabdesk) {
            top: -12%;
            bottom: 100%;
            left: 52%;
          }
        @include respond(mobilemini) {
        left: auto;
        right: 30%;
        top: -20%;
        }
    }

    @include respond(tabdesk) {
      & .container {
          padding: 0;
      }
    }
}

.services-slide__left {
    background: #206BB0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
    padding: 5rem 5rem 5rem 9rem;
    color: #fff;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

    @include respond(tabdesk) {
      padding: 20px 60px 40px;
    }

    & .services-slide__item {
        width: 100%;
        margin: 0 auto;
        text-align: left;

        @include respond(tabdesk) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        &:first-child {
            // margin-bottom: 109px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            & span {
               margin-right: auto;

               @include respond(tabdesk) {
                 margin-right: 0;
                 margin-bottom: 5rem;
               }
            }

            @include respond(tabdesk) {
              align-items: center;
            }
        }
        &:nth-child(2) {

            @include respond(tabdesk) {
                margin-bottom: 5rem;
              }

            & span {
                max-width: 211px;
                display: block;
                margin-left: 2rem;

                @include respond(tabdesk) {
                  margin-left: 0;
                  margin-top: 2rem;
                  text-align: center;
                }
            }
        }
    }
}

.services-slide__right {
    & img {
        width: 100%;
    }
}

// .splide__pagination {
//     counter-reset: pagination-num;
//   }
  
//   .splide__pagination__page:before {
//     counter-increment: pagination-num;
//     content: counter( pagination-num );
//   }